<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NLP Evaluate News Article</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Evaluate a News Article with NLP</h1>
    </header>
    <main>
        <form id="form">
            <input type="text" id="name" name="input" placeholder="Enter the article URL" required autocomplete="off">
            <button type="submit">Submit</button>
        </form>
        <div id="results"></div>
    </main>
    <footer>
        <p>© 2024 Malak Battatt</p>
    </footer>
</body>

</html>